.reactMarkDown {
  background-color: #f6f0f0;
  border: solid 1px white;
  font-family: 'Open Sans', sans-serif;
  width: 80%;
  padding: 1px;
  margin: 10px auto;
  border-radius: 20px;
}

.reactMarkDown p {
  margin: 0px 4%;
}

.reactMarkDown h4 {
  margin: 0px 4%;
}

.reactMarkDown h2 {
  margin: 0px 4%;
}

.reactMarkDown h3 {
  text-align: center;
}

.reactMarkDown blockquote {
    font: 14px/22px normal helvetica, sans-serif;
    font-style: italic;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 8%;
    border-left: 3px solid #ccc;
  }

.reactMarkDown blockquote p {
  margin: 0px 2%;
}

.reactMarkDown a {
  color: rgb(21, 11, 67);
}

.reactMarkDown a:visited {
  color: rgb(123, 22, 123);
}

.reactMarkDown h1 {
  text-align: center;
}

.reactMarkDown hr {
  width: 80%;
}

.reactMarkDown div {
  margin: auto;
}

.reactMarkDown ul {
  margin-top: 1em;
  margin-bottom: 1em;
  list-style: disc outside none;
}

.reactMarkDown ul li {
  margin-left: 2em;
  display: list-item;
  text-align: -webkit-match-parent;
}

.rsh {
  font-size: 50%;
}

.reactMarkDown table {
  font-size: 90%;
  font-family: 'Lucidia Console', Monaco, monospace;
  margin: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.reactMarkDown tbody tr th:only-of-type {
  vertical-align:middle;
}

.reactMarkDown tbody tr th {
  vertical-align:top;
}

.reactMarkDown thead th {
  text-align:right;
}

.reactMarkDown tbody tr:nth-child(odd) {
  background-color: #fff;
}

.reactMarkDown tbody tr:nth-child(even) {
  background-color: #eee;
}

.reactMarkDown thead {
  background-color: #333;
  color: white;
}

.reactMarkDown tr {
  text-align:right;
}

.reactMarkDown td {
  padding: 0 5px;
}

.reactMarkDown img {
  width: 75%;
}

.reactMarkDown img[src$='#img-thumbnail'] { 
  border:2px solid white;
  display: inherit;
  width: 30%;
  height: auto;
  margin: 4% auto;
}

.reactMarkDown img[src$='#wordcloud'] { 
  width: 30%;
}